
*.pdb
*.db
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.sbr
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.xml
*.pyc
*.cfg

*.tlog
*.idb
*.csv
*.ipch
*.opendb
*.sdf
*.opensdf
*.cache
*.suo
*.ilk
*.user

/CSharpCtp/obj/Debug
/Test.MdUser/obj/Debug
/Test.Trader/obj/Debug
